//Main basic styling
@import 'reset';
@import 'common';
@import 'var';

//components styling
@import 'components/map';
@import 'components/navigation';
@import 'components/panelAction';
@import 'components/reportPanel';